.card {
  width: 210px;
  height: 120px;
  text-align: center;
  margin: 10px;
  float: left;
  cursor: pointer;
  position: relative;
  border: 2px solid transparent;
}

.activeCard {
  border-color: rgb(33, 150, 243);
}

.titleCamp {
  line-height: 20px;
  text-align: left;
  letter-spacing: 0;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  height: 40px;
  -webkit-line-clamp: 2;
  white-space: normal;
  padding: 10px;
  text-align: center;
}
